{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "max-len": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "consistent-return": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "ignorePatterns": [
    "*.config.js",
    "./dist/**/*",
  ],
  "plugins": [
    "svelte3"
  ],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
}